.image {
  width:600px;
  height: 375px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #333333;
  box-shadow: 0px 0px 20px #333333;
  border-radius: 10px;
}

#shown-image {
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 2;
  //background-color: blue;
  //opacity: 0.5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.shape {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  position: absolute;
}

#textbox-div {
  width: 600px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #333333;
  box-shadow: 0px 0px 20px #333333;
  border-radius: 10px;
}

.button {
  width: 15em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #68c4af;
  border-radius: 30px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  box-shadow: 0px 0px 10px grey;
}

#submitbutton {
  width: 16em;
}

#help-button {
  width: 14em;
}

.button:active {
  box-shadow: 0px 0px 0px black;
  color:white;
}

h3, h4 {
  font-family: 'Montserrat', serif;
  font-size: 18px;
}

h3 {
  color: #333333;
  font-style: italic;
}

.button:hover {
  background-color: #25a071;
}

#textbox {
  width: 60%;
  height: 80%;
  font-family: 'Montserrat', serif;
  font-size: 17px;
}

#hidden-textbox {
  display: none;
}

#restart-recognition {
  width: 20em;
}

#unable-to-speak {
  width: 25em;
}

#interim-results {
  width: 600px;
  height: 30px;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', serif;
  font-size: 18px;
  color:white;
  background-color: #333333;
  box-shadow: 0px 0px 20px #333333;
  border-radius: 10px;
}

.buttons-and-mic-container {
  display: flex;
  width: 600px;
  margin: auto;
  background-color: #333333;
  box-shadow: 0px 0px 20px #333333;
  border-radius: 10px;
}

.mic-container {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: groove;

}

.mic-container:hover {
  background-color: #595959;
  border-radius: 10px;
}

.mic-container:active {
  width:95px;
  background-color: #a6a6a6;
}

.buttons-container {
  flex: 1;
}

#textbox-div-speakonly {
  display: none;
}
