{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style-index.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="main-container">
    <div class="title"><h1>Colour Naming</h1></div>
    <div class="instructions">
      <p>This test will run for 3 minutes. You will be shown one image at a time
         with an area circled. Your goal is to type the colour contained
         in the circle in each image. You should enter the first colour that comes
         to your mind but try to be as descriptive as possible, for example
         “lavender” instead of “purple” or “dark orange” instead of “orange”.
         Once the timer expires, you will be allowed to finish your answer for the current
         image.
      </p>
    </div>
  <form action="{% url 'namebytyping:begin' %}" method="post">
    {% csrf_token %}
    <div id="begin-button" class="button" onclick="this.parentNode.submit()" name="begin">
      <h4>Begin</h4>
    </div>
  </form>

  <div class="spacing">
  </div>

</div>
