{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/speech-input.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../../static/namebytyping/functions.js"></script>


<div class = "image">
  <img id="shown-image" src="../../static/namebytyping/images/circled/{{ image_number }}.png"/>
</div>

<form action="{% url 'namebytyping:practice_done' %}" method="post" id="input-form">
      {% csrf_token %}

      <div class="si-wrapper" id="textbox-div">
        <input type="text" class="si-input" name="colourname" id="textbox" onKeyPress="return submitenter(this,event)" placeholder="What's up?">
        <button class="si-btn" id="speech-button">
            speech input
            <span class="si-mic"></span>
            <span class="si-holder"></span>
        </button>
      </div>

      <input type="text" id="happy-to-speak-box" name="happy-to-speak" style="display:none;">

    <script src="../../static/namebytyping/speech-input-practice.js"></script>
      <div id="submitbutton" class="button" onclick="this.parentNode.submit()" name="colourname">
        <h4>Submit</h4>
      </div>

      <div class="button" id="unable-to-speak">
        <h4>I Am Not Able to Use Speech Recognition</h4>
      </div>

      <div id="hidden-textbox">
        <input type="text" name="imagenumber" id="hidden-textbox" value="{{ image_number }}">
      </div>

</form>
