<h1>{{ session_key }}</h1>

{% load staticfiles %}
<title>Colour Naming</title>
<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/speech-input.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="../../static/namebytyping/functions_speaktype.js"></script>


<div class = "image">
  <img id="shown-image" src="../../static/namebytyping/images/circled/{{ image_number }}.png"/>
</div>

<form action="{% url 'namebytyping:submit_speak_type' %}" method="post" id="input-form">
      {% csrf_token %}

      <div class="input-and-count-container">
        <div class="si-wrapper buttons-container" id="textbox-div">
          <input type="text" class="si-input" name="colourname" id="textbox" onKeyPress="return submitenter(this,event)" placeholder="Listening Stopped">
          <button class="si-btn" id="speech-button">
              speech input
          </button>
        </div>
        <div class="count">
          <h4>{{count}}/40</h4>
        </div>
      </div>



      <script src="../../static/namebytyping/speech-input.js"></script>

    <div class="buttons-and-mic-container">
      <div class="buttons-container">

        <div class="button" id="restart-recognition" style="display:none">
          <h4>Restart Speech Recognition</h4>
        </div>

        <div id="submitbutton" class="button" name="colourname">
          <h4>Submit</h4>
        </div>

        <div class="button" id="help-button">
          <h4>I Can't See The Circle</h4>
        </div>

      </div>
      <div class="mic-container" id="mic-container-id">
        <img id="listening-mic" src="../../static/namebytyping/images/mic-animate.gif" style="display:none;"/>
        <img id="stopped-mic" src="../../static/namebytyping/images/mic-slash.gif"/>
      </div>
    </div>

      <div id="hidden-textbox">
        <input type="text" name="imagenumber" id="hidden-textbox" value="{{ image_number }}">
      </div>

</form>

<input type="text" id="submitted" style="display:none;">
