{% load staticfiles %}

<title>Colour Naming</title>

<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style-instructions.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="main-container">
    <div class="title"><h1>Typing Test</h1></div>
    <div class="instructions">
      <p>
         This is a <strong><i>Typing Test</i></strong>. Your task is
         to <strong><i>type</i></strong> the name of the colours in the circles,
         <strong><i>no voice recognition</i></strong> will be used. After typing a
         colour name, press enter to submit the answer. If you cannot see the
         circle, there is a button below the textbox to press.
      </p>
    </div>
  <form action="{% url 'namebytyping:start_type' %}" method="post">
    {% csrf_token %}
    <div id="begin-button" class="button" onclick="this.parentNode.submit()" name="continue">
      <h4>Start</h4>
    </div>
  </form>

  <div class="spacing">
  </div>

</div>
