{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style-instructions.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div class="main-container">
    <div class="title"><h1>Speak/Type Test</h1></div>
    <div class="instructions">
      <p>
         If you are not currently in a quiet, suitable place or feel uncomfortable using voice recognition, please scroll to the bottom of this text and click the "I am unable to use speech recognition" button. You will then be taken to a typing-only test. <br><br>
         This is a <strong><i>Speaking and Typing Test</i></strong>.
         In this test, you may either speak the name of the colour in the circle,
         or type the name in the textbox. Your computer will automatically listen
         for speech, once you have given it permission to use the microphone.
         If you decide to type a colour name, simply press enter to submit the answer.
         If you speak the name, then the answer will submit automatically. <br><br>

         Remember to speak clearly, but <strong><i>do not worry if
         the computer doesn't understand you correctly</i></strong>, for example it
         may think you said "dog" when you actually said "dark". If this happens,
         ignore it. Wrong interpretations are still valuable data about the
         experiment's accuracy!

         <br><br>If you cannot see the circle, there is a button underneath the image
         which you can click to skip the image. Finally, after 60 seconds with
         no answer, the speech recognition will turn off. If this happens, a button will appear which
         you can click to restart it. If the speech recognition is not working at all - i.e. 10 seconds
         after you say something no words have appeared in the textbox - then
         simply type the answers and ignore the speech recognition.

         <br><br>Click the "Practice" button to continue.
         You will be taken to a practice question before starting the real test
         so that you can try out the speech recognition.
      </p>
    </div>
  <form action="{% url 'namebytyping:start_speak_type' %}" method="post" id="input-form">
    {% csrf_token %}
    <div id="begin-button" class="button" onclick="this.parentNode.submit()" name="continue">
      <h4>Practice</h4>
    </div>

    <input type="text" name="user-unwilling" id="user-unwilling" style="display:none;">

    <div class="button" id="unable-to-speak">
      <h4>I Am Not Able to Use Speech Recognition</h4>
    </div>

    <script type="text/javascript">
      $("#unable-to-speak").click(function() {
        $("#user-unwilling").val("UNWILLING");
        document.getElementById('input-form').submit();
      });
    </script>

  </form>

  <div class="spacing">
  </div>

</div>
