{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'namebytyping/style-instructions.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="main-container">
    <div class="title"><h1>Speaking Test</h1></div>
    <div class="instructions">
      <p>
         You have been allocated the <strong><i>speaking only</i></strong> test. Your
         task is to <strong><i>speak</i></strong> the name of the colour in the circle,
         your computer will interpret your speech and will listen to you automatically, after asking your permission to use the microphone. Once you have spoken an answer, the image will automatically change.<br><br>Remember to speak clearly, but <strong><i>do not worry if
         the computer doesn't understand you correctly</i></strong>, for example it
         may think you said "dog" when you actually said "dark". If this happens,
         ignore it. Wrong interpretations are still valuable data about the
         experiment's accuracy! <br><br>If you cannot see the cicle, there is a button
         below the image to click. In addition, if the voice recognition is not
         working - i.e. you say something but the text on the screen does not change
         for over 10 seconds - then there is a button you can click below the image.
         Finally, not saying anything for 60 seconds will cause the speech
         recognition to turn off. If this happens, a button will appear which
         you can click to restart it.
      </p>
    </div>
  <form action="{% url 'namebytyping:start_speak' %}" method="post">
    {% csrf_token %}
    <div id="begin-button" class="button" onclick="this.parentNode.submit()" name="continue">
      <h4>Start</h4>
    </div>
  </form>

  <div class="spacing">
  </div>

</div>
